<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.3.8023.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="DB3FB419EF22942EEA18585EA4648B8CFE942C6FCA23787A2497A87184E0B667868600AA3FC51F7E40EE24D526B013F7E8BB0E08C0A0C26CB4ADB976420ACA0A" decryptionKey="2785002EAB816FCDAADAAAC193CA85DA5FDF29A89C8FB6E23D9CAB243823BDEF" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="A124B68D43921524AFFC068A1B840D92E154F308349D83A00C04533C72A4C5B0" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="A124B68D43921524AFFC068A1B840D92E154F308349D83A00C04533C72A4C5B0" realm="http://localhost" />
	</relyingParties>
</securityConfig>