<?xml version="1.0" encoding="utf-8"?>
<startupConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.3.8023.0" initialized="True" dbType="SqlServer" sqlInstance="." dbName="sf11" sqlAuthUserName="sa" sqlAuthUserPassword="admin@2admin@2" password="admin@2" siteUrl="http://sf11:59568/Sitefinity/" username="admin@test.test" />